@using Portal.Models.PacketVM
@model PacketListViewModel
@{
    ViewData["Title"] = "Alle pakketten";
}

<div class="p-3">
    <h3>Alle pakketten</h3>
    <div class="row">
        @if(Model.PacketList!.Any()) {
            @foreach (var packet in Model.PacketList!)
            {
                <div class="col-3 mb-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@packet.Products!.First().Picture" alt="@packet.Products!.First().Name">
                        <div class="position-absolute top-0 start-0 price-tag c-f-size">
                            <span class="blue-text">@packet.Price</span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">@packet.Name @packet.IsEightteenPlusPacket</h4>
                            @packet.PickUpDateTime
                            <div class="d-flex justify-content-between w-100 mt-3">
                                @if (Model.User!.IsStudent || !Model.User!.IsStudent && !Model.User!.IsCanteenEmployee)
                                {
                                    <a class="btn btn-blue w-100 me-2" asp-controller="Packet" asp-action="Detail" asp-route-id="@packet.PacketId">Alle details</a>
                                    <form class="w-100" asp-controller="Packet" asp-action="ReservePacket" asp-route-id="@packet.PacketId" method="post">
                                        <button class="btn btn-blue w-100" type="submit">Reserveer</button>
                                    </form>
                                }
                                else if (Model.User!.IsCanteenEmployee)
                                {
                                    <a class="btn btn-blue w-100" asp-controller="Packet" asp-action="Detail" asp-route-id="@packet.PacketId">Alle details</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
                <p>Er zijn momenteel geen beschikbare pakketten!</p>
        }
    </div>
</div>